<div class="miliftop3 myorder_top3_4">
  <div class="cardtop_6_4">
    <div class="miiner1" style="display:inline-block;">
      <div class="imageContent">
        <img style="width: 3px; height: 15px;" src="/assets/imgs/smallsu.png" />
      </div>
      新鲜事儿
    </div>
  </div>

  <div class="myorder_top4">
    <div class="myorder_top4_1">
      <img style="width: 72px; height: 72px;" src="/assets/imgs/1.jpg">
    </div>
    <div class="myorder_top4_2">
      <div class="myorder_top4_3">
        <span class="myorder_top4_6" style='width: calc(100% - 66px);'>
          象山樊岙枇杷节 </span></div>
      <div style="padding-top:3px;">
        <font class="newsBody">&nbsp;&nbsp;五月枇杷黄似橘，年年新果第一枝。又到了枇杷上市的时节.新桥镇分管农业工作的副镇长陈顶</font>
      </div>
    </div>
  </div>
  <div class="myorder_top4">
    <div class="myorder_top4_1">
      <img style="width: 72px; height: 72px;" src="/assets/imgs/2.jpg">
    </div>
    <div class="myorder_top4_2">
      <div class="myorder_top4_3">
        <span class="myorder_top4_6" style='width: calc(100% - 66px);'>
          象山樊岙枇杷节 </span></div>
      <div style="padding-top:3px;">
        <font class="newsBody">&nbsp;&nbsp;白沙枇杷难以存放，所以价格一直居高不下，今年应天气自然原因，枇杷上市时间比往年稍晚。鹤浦镇樊岙村地理位置优越</font>
      </div>
    </div>
  </div>
  <div class="myorder_top4">
    <div class="myorder_top4_1">
      <img style="width: 72px; height: 72px;" src="/assets/imgs/3.jpg">
    </div>
    <div class="myorder_top4_2">
      <div class="myorder_top4_3">
        <span class="myorder_top4_6" style='width: calc(100% - 66px);'>
          象山樊岙枇杷节 </span></div>
      <div style="padding-top:3px;">
        <font class="newsBody">&nbsp;&nbsp;2004年，村里组建了全县首家枇杷专业合作社——海岛枇杷合作社，成立牛头山、半岛两家枇杷销售龙头企业，注册樊岙牌商标。</font>
      </div>
    </div>
  </div>
  <div class="myorder_top4">
    <div class="myorder_top4_1">
      <img style="width: 72px; height: 72px;" src="/assets/imgs/4.jpg">
    </div>
    <div class="myorder_top4_2">
      <div class="myorder_top4_3">
        <span class="myorder_top4_6" style='width: calc(100% - 66px);'>
          象山樊岙枇杷节 </span></div>
      <div style="padding-top:3px;">
        <font class="newsBody">&nbsp;&nbsp;“樊岙”枇杷先后被认定为浙江省绿色农产品、国家无公害农产品，同时樊岙枇杷基地也被授予市绿色农产品基地。</font>
      </div>
    </div>
  </div>
  

</div>